%h1
	Profiles

%p
	Every user that uploads their skin has a profile! Profiles are used to keep track of what textures a minecraft account owns as well as other neat little things.
%p
	Textures uploaded here are kept into a backlog up to 30 days, meaning if anyone accidentally replaces their skin and needs a way back, they can come here and search for it by their username.
%p
	Active textures are listed first.

%div
	%a{href: root_path} Back to home
	
%br
- if @profile
	%table
		%tr
			%td(colspan="2")
				Username:
				= @profile.username
		%tr
			%td 
				UUID:
				= @profile.uuid
		%tr
			%td(colspan="5")
				This user has
				= @profile.textures.active.count
				out of
				= @profile.textures.count
				textures currently active.
	%h2 Active Textures
	%ul.texture-grid
		- @profile.textures.active.order(:updated_at, :created_at).reverse_order.each do|texture|
			%li
				%img.sharp{src: texture.url}
				.info
					%b
						= texture.model
						= texture.type
	%h2 Past Textures
	%ul.texture-grid
		- @profile.textures.inactive.order(:updated_at, :created_at).reverse_order.each do|texture|
			%li
				%img.sharp{src: texture.url}
				.info
					%b
						= texture.model
						= texture.type
					%br
					%br
					= form_tag(texture_path(texture), method: :patch) do |f|
						= hidden_field_tag :hidden, 0
						= submit_tag("Use this texture")
- else
	404
	
= form_tag(texture_index_path, method: :get) do |f|
	%table
		%tr
			%td(colspan="2") Profile Search
		%tr
			%td Username:
			%td= text_field_tag :username
		%tr
			%td(colspan="2")= submit_tag("Search")